:root {
  --clr-primary-100: hsl(0, 36%, 70%);
  --clr-primary-110: hsl(0, 36%, 70%, .5);
  --clr-primary-200: hsl(0, 93%, 68%);
  --clr-primary-300: hsla(0, 0%, 100%, 1);
  --clr-primary-400: hsla(0, 100%, 98%, 1);
  --clr-primary-500: hsla(0, 80%, 86%, 1);
  --clr-primary-510: hsla(0, 74%, 74%, 1);
  --clr-primary-600: hsla(0, 80%, 86%, .5);
  --clr-primary-610: hsla(0, 74%, 74%, .5);

  --clr-neutral-100: hsl(0, 6%, 24%);
  --clr-neutral-110: hsla(0, 43%, 60%, 0.25);

  --ff-primary: 'Josefin Sans', sans-serif;

  --ff-body: var(--ff-primary);

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;

  --fs-400: .875rem;
  --fs-410: 1rem;
  --fs-900: 2.5rem;
  --fs-910: 4rem;

  --size-300: .875rem;
  --size-400: 1rem;
  --size-410: 1.0625rem;
  --size-430: 1.375rem;
  --size-450: 1.75rem;
  --size-500: 2,5rem;
  --size-700: 4.4375rem;

  --fs-body: var(--fs-400);
  --fs-header: var(--fs-900);
}

@media (min-width: 50rem) {
  :root {
    --fs-body: var(--fs-410);
    --fs-header: var(--fs-910);
  }
}

/* additional reset */

h1,
* {
  margin: 0;
  padding: 0;
}

/* general styling */

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-primary-100);
  background: linear-gradient(150deg, var(--clr-primary-300), var(--clr-primary-400));
}


@media (min-width: 50rem) {
  .wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: calc(100vw - 38.125rem) auto;
  }
}
.logo {
  display: inline-block;
  margin: 2rem 0 0 2rem;
  width: 6.25rem;
  height: 1.25rem;
  background-image: url('images/logo.svg');
  background-size: 6.25rem 1.25rem;
}

@media (min-width: 50rem) {
  .logo {
    width: 9.875rem;
    height: 2.0625rem;
    margin: 4rem 0 0 11.5vw;
    background-size: 9.875rem auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

@media (min-width: 75rem) {
  main {
    display: inline-block;
    width: 27.8125rem;
    margin: 8.5rem 0 0 11.5vw;
  }
}

.hero-image {
  width: 100vw;
  height: 66vw;
  background-image: url('images/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

@media (min-width: 50rem) {
  .hero-image {
    width: 42vw;
    max-width: 38.125rem;
    height: 50rem;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('images/hero-desktop.jpg');
    background-size: 42vw auto;
  }
}

@media (min-width: 75rem) {
  .hero-image {
    width: 38.125rem;
    max-width: 38.125rem;
    height: 50rem;
    background-size: 38.125rem auto;
  }
}

.hero-text {
  width: 19.4375rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

@media (min-width: 75rem) {
  .hero-text {
    width: 27.8125rem;
    margin-top: 0;
    text-align: left;
  }
}

h1 {
  font-size: var(--fs-header);
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  line-height: var(--size-500);
  letter-spacing: var(--size-410);
  margin-bottom: 1rem;
}

@media (min-width: 75rem) {
  h1 {
    line-height: var(--size-700);
  }
}

h1 span {
  font-weight: var(--fw-300);
  color: var(--clr-primary-100);
}

.info {
  line-height: var(--size-430);
}

@media (min-width: 75rem) {
  .info {
    line-height: var(--size-450);
  }
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  box-shadow: 0px 0px 0px 1px var(--clr-primary-110) inset;
  border-radius: 1.5rem;
  margin-top: 2rem;
}

input {
  margin-left: 1.5rem;
  background: transparent;
  border: none;
  color: var(--clr-primary-100);
  line-height: var(--size-450);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, var(--clr-primary-500), var(--clr-primary-510));
  box-shadow: 0 .9375rem 1.25rem var(--clr-neutral-110); 
}

.btn:hover {
  background: linear-gradient(135deg, var(--clr-primary-600), var(--clr-primary-610));
}

.btn-icon {
  width: .5625rem;
  height: 1.125rem;
  background-image: url('images/icon-arrow.svg');
  background-size: .5625rem 1.125rem;
  background-repeat: no-repeat;
}